In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Clean_Dataset.csv')
df = df.drop('flight', axis=1)
df

,Unnamed: 0,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [3]:
# Определяем категориальные признаки
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns

Index(['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class'],
      dtype='object')

In [4]:
# Получаем уникальные значения для каждого категориального признака
unique_categories = {col: df[col].unique() for col in categorical_columns}
unique_categories

{'airline': array(['SpiceJet', 'AirAsia', 'Vistara', 'GO_FIRST', 'Indigo',
        'Air_India'], dtype=object),
 'source_city': array(['Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai'],
       dtype=object),
 'departure_time': array(['Evening', 'Early_Morning', 'Morning', 'Afternoon', 'Night',
        'Late_Night'], dtype=object),
 'stops': array(['zero', 'one', 'two_or_more'], dtype=object),
 'arrival_time': array(['Night', 'Morning', 'Early_Morning', 'Afternoon', 'Evening',
        'Late_Night'], dtype=object),
 'destination_city': array(['Mumbai', 'Bangalore', 'Kolkata', 'Hyderabad', 'Chennai', 'Delhi'],
       dtype=object),
 'class': array(['Economy', 'Business'], dtype=object)}

In [13]:
# Выполняем One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)
df_encoded = df_encoded.applymap(lambda x: 1 if x is True else (0 if x is False else x))
# Проверяем результаты
df_encoded.drop('Unnamed: 0', axis=1)

,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Bangalore,...,arrival_time_Morning,arrival_time_Night,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,class_Business,class_Economy
0,2.17,1,5953,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1
1,2.33,1,5953,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,1
2,2.17,1,5956,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2.25,1,5955,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
4,2.33,1,5955,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,10.08,49,69265,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
300149,10.42,49,77105,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
300150,13.83,49,79099,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
300151,10.00,49,81585,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
300152,10.08,49,81585,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0